### Sample program for crawling (JSON)

#### Import libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pandas import json_normalize

#### Parameters

In [2]:
# set your API key
url = 'http://api.openweathermap.org/data/2.5/weather?lat=35.780406&lon=139.715592&appid=9d3699936ffcba4faef1c32427992b25'

#### Crawling of web page

In [3]:
s = requests.Session()
r = s.get(url)
json = r.json()
print(json)

{'coord': {'lon': 139.7235, 'lat': 35.7782}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 290.63, 'feels_like': 290.55, 'temp_min': 290.15, 'temp_max': 291.47, 'pressure': 1017, 'humidity': 81, 'sea_level': 1017, 'grnd_level': 1016}, 'visibility': 8000, 'wind': {'speed': 1.54, 'deg': 330}, 'clouds': {'all': 75}, 'dt': 1731655010, 'sys': {'type': 2, 'id': 2044139, 'country': 'JP', 'sunrise': 1731619029, 'sunset': 1731656067}, 'timezone': 32400, 'id': 1859730, 'name': 'Kawaguchi', 'cod': 200}

#### Dic to dataframe

In [4]:
df_json = json_normalize(json)
print(df_json.shape)
display(df_json)
print(df_json.columns)

(1, 26)

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.sea_level,main.grnd_level,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 803, 'main': 'Clouds', 'description': ...",stations,8000,1731655010,32400,1859730,Kawaguchi,200,139.7235,35.7782,...,1017,1016,1.54,330,75,2,2044139,JP,1731619029,1731656067

Index(['weather', 'base', 'visibility', 'dt', 'timezone', 'id', 'name', 'cod',
       'coord.lon', 'coord.lat', 'main.temp', 'main.feels_like',
       'main.temp_min', 'main.temp_max', 'main.pressure', 'main.humidity',
       'main.sea_level', 'main.grnd_level', 'wind.speed', 'wind.deg',
       'clouds.all', 'sys.type', 'sys.id', 'sys.country', 'sys.sunrise',
       'sys.sunset'],
      dtype='object')

#### Get info from df

In [5]:
weather_list = df_json.at[0, 'weather']
print(weather_list)
weather = weather_list[0]['main']
print(weather) # 天候 weather

[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]
Clouds

In [6]:
temp = df_json.at[0, 'main.temp'] # 気温 (単位:Kelvin) temperature (Kelvin) 
print(temp)

290.63

In [7]:
pres = df_json.at[0, 'main.pressure'] # 気圧 pressure
print(pres)

1017

In [8]:
city = df_json.at[0, 'name'] # 場所 city name
print(city)

Kawaguchi