In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://www.toyo.ac.jp/toyo2023/basic_data/"
csv_out = 'num_students_campas.csv'

In [3]:
s = requests.Session()
r = s.get(url)
r.encoding = r.apparent_encoding
bs = BeautifulSoup(r.text, 'html.parser')

In [4]:
try:
    target_table = bs.select('.data-table')[4]
    print("5番目の表を取得しました。")
except IndexError:
    print("エラー: 5番目の表が見つかりませんでした。")
    target_table = None

5番目の表を取得しました。

In [5]:
if target_table:
    thead_th = target_table.thead.find_all('th')
    header = [th.text for th in thead_th]
    tbody_obj = target_table.tbody
    tr_list = tbody_obj.find_all('tr')
    
    data_rows = []
    
    for tr in tr_list:
        th = tr.find('th')
        if th:
            name = re.sub(r'（.*）', '', th.text)
            
            tds = tr.find_all('td')
            if tds:
                nums = [td.text for td in tds]
                data_rows.append([name] + nums)

    df = pd.DataFrame(data_rows, columns=header)
    
    print(f"データ件数: {len(df)}")
    display(df)
    
    df.to_csv(csv_out, index=False)
    print(f"ファイル '{csv_out}' を保存しました。")

データ件数: 5

      キャンパス      男性      女性      合計
0   白山キャンパス  11,058   8,882  19,940
1   川越キャンパス   3,901     894   4,795
2   板倉キャンパス     952     884   1,836
3  赤羽台キャンパス   2,387   2,192   4,579
4        合計  18,298  12,852  31,150

ファイル 'num_students_campas.csv' を保存しました。